<h1>{{ Title }}</h1>

<react-analytical-table
  [headerTitel]="Title"
  [insertTitle]="'Add FAQ'"
  [odataUrl]="'FaqsList?'"
  [isInsertData]="isInsert"
  [isSearchFilter]="true"
  [isFilterable]="true"
  [isOdata]="odata"
  [isGroupable]="false"
  [isSortable]="true"
  [isTableTree]="false"
  [isInfiniteScroll]="true"
  [infiniteScrollNumber]="10"
  [minRowsNumber]="15"
  [headerHeight]="30"
  [rowHeight]="30"
  [selectionMode]="'Single'"
  [emptyDataText]="'No Data Found'"
  [tableColumn]="tableColum()"
  [refreshTrigger]="refreshTable"
  [showStatusFilter]="true">
</react-analytical-table>
